language: ruby
before_install:
  - travis_retry gem install bundler
rvm:
  - 2.0.0
  - 2.1.2
  - 2.2.0
  - ruby-head
  - jruby
  - rbx-2
gemfile:
  - Gemfile
matrix:
  allow_failures:
    - rvm: rbx-2
# Use the faster container based infrastructure.
sudo: false
